<a href="https://colab.research.google.com/github/susimartins2014-glitch/Criacao_Dados_Fake/blob/main/dados_fake.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install faker

Collecting faker
  Downloading faker-38.2.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.12/dist-packages (from faker) (2025.2)
Downloading faker-38.2.0-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 30.6 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-38.2.0

In [ ]:
from faker import Faker
import pandas as pd

In [ ]:
nome = []
empresa = []
cidade = []
pais = []
cargo = []
endereco = []
email = []
data_nasc = []

for a in range(0,100):

  nome.append(fake.name())
  empresa.append(fake.company())
  cidade.append(fake.city())
  pais.append(fake.country())
  cargo.append(fake.job())
  endereco.append(fake.street_address())
  email.append(fake.email())
  data_nasc.append(fake.date_of_birth())

print(data_nasc)

[datetime.date(1984, 9, 7), datetime.date(1914, 11, 20), datetime.date(1953, 8, 13), datetime.date(1995, 4, 26), datetime.date(1916, 2, 3), datetime.date(1918, 3, 1), datetime.date(1952, 8, 6), datetime.date(1973, 5, 10), datetime.date(2015, 4, 23), datetime.date(1995, 4, 23), datetime.date(1962, 3, 7), datetime.date(2000, 2, 17), datetime.date(1917, 2, 24), datetime.date(1955, 1, 22), datetime.date(1951, 4, 27), datetime.date(1998, 11, 24), datetime.date(1973, 7, 11), datetime.date(1949, 10, 13), datetime.date(1962, 1, 20), datetime.date(2004, 8, 25), datetime.date(1952, 2, 20), datetime.date(2006, 2, 17), datetime.date(1950, 4, 4), datetime.date(1914, 5, 14), datetime.date(1966, 9, 28), datetime.date(1979, 12, 29), datetime.date(2015, 11, 17), datetime.date(1997, 1, 17), datetime.date(1921, 10, 10), datetime.date(1914, 6, 27), datetime.date(2005, 7, 12), datetime.date(2024, 1, 15), datetime.date(2019, 4, 25), datetime.date(2001, 1, 19), datetime.date(2015, 9, 2), datetime.date(1921, 1, 29), datetime.date(2000, 6, 25), datetime.date(1921, 10, 17), datetime.date(2012, 3, 3), datetime.date(1937, 3, 1), datetime.date(1960, 1, 31), datetime.date(2010, 8, 13), datetime.date(1973, 9, 29), datetime.date(1933, 11, 24), datetime.date(2015, 3, 19), datetime.date(2008, 6, 16), datetime.date(1912, 10, 27), datetime.date(2024, 9, 1), datetime.date(2011, 2, 28), datetime.date(2000, 6, 12), datetime.date(1936, 6, 30), datetime.date(2008, 8, 4), datetime.date(1960, 7, 20), datetime.date(1962, 9, 27), datetime.date(1931, 9, 24), datetime.date(1956, 3, 3), datetime.date(1958, 7, 12), datetime.date(2006, 7, 2), datetime.date(1956, 5, 28), datetime.date(2004, 2, 15), datetime.date(1972, 2, 4), datetime.date(2006, 6, 22), datetime.date(1929, 11, 11), datetime.date(1955, 6, 19), datetime.date(2019, 9, 25), datetime.date(1961, 11, 13), datetime.date(1998, 6, 12), datetime.date(1916, 11, 30), datetime.date(1970, 5, 5), datetime.date(1926, 5, 3), datetime.date(1942, 6, 9), datetime.date(1990, 2, 16), datetime.date(1977, 8, 5), datetime.date(2021, 5, 6), datetime.date(1998, 12, 5), datetime.date(2020, 10, 5), datetime.date(1959, 10, 17), datetime.date(1930, 5, 24), datetime.date(1979, 4, 28), datetime.date(1923, 2, 26), datetime.date(1955, 2, 11), datetime.date(1939, 6, 28), datetime.date(1960, 3, 14), datetime.date(1945, 3, 14), datetime.date(1981, 5, 9), datetime.date(1916, 3, 7), datetime.date(1998, 5, 4), datetime.date(1940, 2, 17), datetime.date(1955, 12, 5), datetime.date(2001, 11, 9), datetime.date(1975, 5, 30), datetime.date(2025, 2, 23), datetime.date(1944, 7, 9), datetime.date(1924, 4, 18), datetime.date(1963, 9, 24), datetime.date(1959, 4, 1), datetime.date(1968, 9, 7), datetime.date(1965, 4, 13), datetime.date(1930, 12, 29), datetime.date(1918, 5, 1)]

In [ ]:
df = pd.DataFrame(
    {
        'NOME': nome,
        'EMPRESA': empresa,
        'CIDADE': cidade,
        'PAIS': pais,
        'CARGO': cargo,
        'ENDERECO': endereco,
        'EMAIL': email,
        'DATA_NASCIMENTO': data_nasc

    }
)

print(df)

                      NOME                    EMPRESA               CIDADE  \
0           Stella da Cruz                     da Luz        Jesus de Rios
1    Pedro Miguel Carvalho                Casa Grande  Vasconcelos da Mata
2         Maria Luísa Lima                   Oliveira      Mendes do Galho
3   Luiz Felipe Montenegro                     Barros                Jesus
4   Davi Lucas Albuquerque         Cirino da Luz S.A.              Ribeiro
..                     ...                        ...                  ...
95             Ísis Vargas                 Sales - EI   Porto de Fernandes
96    João Felipe da Costa                  Leão - ME               Campos
97          Giovanna Souza     Jesus Casa Grande S.A.             da Rocha
98            Lara Ribeiro  Pereira da Conceição - EI      Duarte da Praia
99             André Cunha          da Conceição - EI                Pinto

                     PAIS                          CARGO  \
0           Ilhas Salomão           Lutador de taekwondo
1              Ilhas Cook                      Homeopata
2             Usbequistão                      Arquiteto
3       Congo-Brazzaville                 Médico legista
4              Eslováquia  Guarda ou policial rodoviário
..                    ...                            ...
95                  Gabão                 Massoterapeuta
96             Ilhas Cook                   Acompanhante
97               Camarões                      Boticário
98               Moldávia                     Gravurista
99  São Cristóvão e Neves                      Alpinista

                        ENDERECO                                 EMAIL  \
0        Recanto Ravi Pinto, 741         henry-gabriellima@example.com
1    Lagoa Nicolas Mendonça, 733          caueda-conceicao@example.net
2        Praia Maya Caldeira, 13                 bsilveira@example.com
3                   Campo Aragão                  mfreitas@example.org
4   Fazenda Milena Fernandes, 62            costadavi-luiz@example.com
..                           ...                                   ...
95              Favela Brito, 38               otaviocunha@example.net
96     Condomínio de Sampaio, 58                   esantos@example.com
97       Lagoa Daniela Sales, 37                  enrico30@example.net
98         Morro Stella Lima, 34  goncalvesmarcos-vinicius@example.org
99              Viela Ramos, 391                  yalmeida@example.net

   DATA_NASCIMENTO
0       1984-09-07
1       1914-11-20
2       1953-08-13
3       1995-04-26
4       1916-02-03
..             ...
95      1959-04-01
96      1968-09-07
97      1965-04-13
98      1930-12-29
99      1918-05-01

[100 rows x 8 columns]

In [ ]:
df.to_csv('./DADOS_FAKE.CSV', index=False)